[Desktop Entry]
Type=Application
Name=DFasma
GenericName=DFasma
Comment=Compare sound files
Comment[fr]=Comparaison de fichiers son
Icon=dfasma
Exec=dfasma.sh %U
Terminal=false
Categories=AudioVideo;Audio;Player;
